/* See https://fontsource.org/fonts/inter/install */

/* https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap */
@import "@fontsource-variable/inter/wght.css";
@import "@fontsource-variable/inter/wght-italic.css";
@import "@fontsource-variable/inter/opsz.css";

@font-face {
  font-family: 'Libertinus Serif';
  src: url('/fonts/libertinus-serif/LibertinusSerif-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Libertinus Serif';
  src: url('/fonts/libertinus-serif/LibertinusSerif-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Libertinus Serif';
  src: url('/fonts/libertinus-serif/LibertinusSerif-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Libertinus Serif';
  src: url('/fonts/libertinus-serif/LibertinusSerif-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'LXGW WenKai';
  src: url('/fonts/lxgw-wenkai/LXGWWenKai-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'LXGW WenKai';
  src: url('/fonts/lxgw-wenkai/LXGWWenKai-Light.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LXGW WenKai';
  src: url('/fonts/lxgw-wenkai/LXGWWenKai-Medium.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
