:host, html {
  --font-family-serif: "Source Serif 4", "LXGW WenKai", "Inter", "Noto Sans SC", "PingFang SC", "Microsoft Yahei", ui-sans-serif, system-ui, sans-serif;
  
  --font-family-default: var(--font-family-serif);
  --font-family-sans: var(--font-family-serif);

  --font-family-monospace: ui-monospace, SFMono-Regular, "SF Mono", "Menlo", "Consolas", "Liberation Mono", monospace;
}

main {
  --color-prettylights-syntax-comment: #6e7781;
  --color-prettylights-syntax-constant: #0550ae;
  --color-prettylights-syntax-entity: #8250df;
  --color-prettylights-syntax-storage-modifier-import: #24292f;
  --color-prettylights-syntax-entity-tag: #116329;
  --color-prettylights-syntax-keyword: #cf222e;
  --color-prettylights-syntax-string: #0a3069;
  --color-prettylights-syntax-variable: #953800;
  --color-prettylights-syntax-brackethighlighter-unmatched: #82071e;
  --color-prettylights-syntax-invalid-illegal-text: #f6f8fa;
  --color-prettylights-syntax-invalid-illegal-bg: #82071e;
  --color-btn-bg: #fafcfc;
  --color-btn-border: rgba(101, 117, 133, 0.16);
  --color-btn-hover-bg: #f0f2f2;
  --color-btn-active-bg: #e8eaea;
  --color-btn-primary-bg: #d3006a;
  --color-btn-primary-border: #d3006a;
  --color-btn-primary-hover-bg: #b8005b;
  --color-btn-primary-hover-border: #b8005b;
  --color-fg-default: #000;
  --color-fg-muted: #6d6d6d;
  --color-canvas-default: #fafcfc;
  --color-canvas-overlay: #fafcfc;
  --color-canvas-inset: #f0f2f2;
  --color-border-default: rgba(101, 117, 133, 0.16);
  --color-border-muted: rgba(101, 117, 133, 0.08);
  --color-accent-fg: #d3006a;
  --color-accent-emphasis: #d3006a;
}

@media (prefers-color-scheme: dark) {
  main {
    --color-prettylights-syntax-comment: #768390;
    --color-prettylights-syntax-constant: #6cb6ff;
    --color-prettylights-syntax-entity: #dcbdfb;
    --color-prettylights-syntax-storage-modifier-import: #adbac7;
    --color-prettylights-syntax-entity-tag: #8ddb8c;
    --color-prettylights-syntax-keyword: #f47067;
    --color-prettylights-syntax-string: #96d0ff;
    --color-prettylights-syntax-variable: #f69d50;
    --color-prettylights-syntax-brackethighlighter-unmatched: #e5534b;
    --color-prettylights-syntax-invalid-illegal-text: #cdd9e5;
    --color-prettylights-syntax-invalid-illegal-bg: #922323;
    --color-btn-text: #adbac7;
    --color-btn-bg: #373e47;
    --color-btn-border: rgb(205 217 229 / 10%);
    --color-btn-shadow: 0 0 transparent;
    --color-btn-inset-shadow: 0 0 transparent;
    --color-btn-hover-bg: #444c56;
    --color-btn-hover-border: #768390;
    --color-btn-active-bg: hsl(213deg 12% 27% / 100%);
    --color-btn-active-border: #636e7b;
    --color-btn-selected-bg: #2d333b;
    --color-btn-primary-text: #fff;
    --color-btn-primary-bg: #347d39;
    --color-btn-primary-border: rgb(205 217 229 / 10%);
    --color-btn-primary-shadow: 0 0 transparent;
    --color-btn-primary-inset-shadow: 0 0 transparent;
    --color-btn-primary-hover-bg: #46954a;
    --color-btn-primary-hover-border: rgb(205 217 229 / 10%);
    --color-btn-primary-selected-bg: #347d39;
    --color-fg-default: #adbac7;
    --color-fg-muted: #768390;
    --color-fg-subtle: #545d68;
    --color-canvas-default: rgb(25 39 52);
    --color-canvas-overlay: #161b22;
    --color-canvas-inset: rgb(21 32 43 / 100%);
    --color-canvas-subtle: rgb(37 51 65);
    --color-border-default: #444c56;
    --color-border-muted: #373e47;
    --color-neutral-muted: rgb(99 110 123 / 40%);
    --color-accent-fg: #539bf5;
    --color-accent-emphasis: #316dca;
    --color-accent-muted: rgb(65 132 228 / 40%);
    --color-accent-subtle: rgb(56 139 253 / 10%);
    --color-success-fg: #57ab5a;
    --color-danger-fg: #e5534b;
  }
}
.gsc-reactions-count {
  display: none;
}
.gsc-timeline {
  flex-direction: column-reverse;
}
.gsc-header {
  padding-bottom: 1rem;
}
.gsc-comments > .gsc-header {
  order: 1;
}
.gsc-comments > .gsc-comment-box {
  order: 2;
  margin-bottom: 1rem;
}
.gsc-comments > .gsc-timeline {
  order: 3;
}
.gsc-homepage-bg {
  background-color: #15202b;
}
