---
import BaseHead from "$components/BaseHead.astro";
import Footer from "$components/Footer.astro";
import Header from "$components/Header.astro";
import { kSiteTitle, kSiteDescription, kFriendLinks } from "$consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Friend Links - " + kSiteTitle} description={kSiteDescription} />
  </head>
  <body>
    <Header />
    <main>
      <section>
        <h1>Friend Links</h1>
        <ul class="accent block-list">
          {
            kFriendLinks.map((friend) => (
              <li>
                <a href={friend.url} target="_blank" rel="noopener noreferrer">
                  {friend.name}
                </a>
                <br />
                {friend.desc}
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
