---
import BaseHead from "$components/BaseHead.astro";
import HomeIntro from "$components/HomeIntro.astro";
import {
  kSiteTitle,
  kSiteDescription,
  kBaiduVeriCode,
} from "$consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={kSiteTitle} description={kSiteDescription} />
    {
      kBaiduVeriCode && (
        <meta name="baidu-site-verification" content={kBaiduVeriCode} />
      )
    }
  </head>
  <body>
    <HomeIntro lang="en" />
  </body>
</html>
