<div class="comment">
  <div class="comment-header">
    <img 
      src="" 
      alt="" 
      width="28" 
      height="28" 
      class="user-avatar"
      data-fill="author.avatarUrl"
      data-fill-target="src"
    >
    <a 
      href="" 
      target="_blank" 
      rel="noopener noreferrer" 
      class="user-name"
      data-fill="author.login"
      data-attr-template="href:https://github.com/{value},alt:{value}"
    ></a>
    <span class="comment-date" data-fill="createdAt"></span>
  </div>
  <div class="comment-body" data-fill="bodyHTML" data-fill-target="html"></div>
</div>
