---
import { getTargetLanguage, generateTargetPath, translations } from "$utils/i18n";

const { postId, locale } = Astro.props;
const targetLocale = getTargetLanguage(locale as any);
const targetPath = generateTargetPath(Astro.url.pathname, targetLocale);
---
<a href={targetPath}>
  {locale === 'zh' ? translations.switchToEnglish : translations.switchToChinese}
</a>
